.btn {
  width: 100%;
  max-width: fit-content;
  height: 40px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
  color: #000000;
  border: none;
  border-radius: 12px;
  background-color: #8fff00;
}
