.btn {
  width: 100%;
  max-width: fit-content;
  height: 40px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  background-color: #171a42;
}
