.navigation__wrap {
  width: 70px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  padding: 32px 0;
  border: 2px solid #222222;
  border-radius: 16px;
  background-color: #000000;

  img {
    display: block;
    border-radius: 10px;
    margin: auto;
  }

  .navigation-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;

    .navigation-item {
      display: grid;
      place-content: center;
      width: 100%;
      height: 45px;
      transition: all 0.2s linear;
      position: relative;
      cursor: pointer;

      &:hover {
        background: #000000;
      }

      &.bar-active {
        &::after {
          content: "";
          position: absolute;
          z-index: 1;
          top: -2.5px;
          right: 0;
          width: 4px;
          height: 50px;
          border-radius: 20px;
          background-color: #8fff00;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    position: fixed;
    display: none;
  }
}
