* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Popins", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background: #0b0d21;
}

a {
  width: 100%;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:active {
  transform: scale(0.9);
}

.layout-main {
  display: flex;
  gap: 30px;
}

.layout-main .layout-content {
  width: 100%;
  max-width: calc(100% - 100px);
}

@media screen and (max-width: 768px) {
  .layout-main .layout-content {
    width: 100%;
    max-width: 100%;
  }
}

.layout-main .layout-content section {
  margin-top: 46px;
}

.container {
  width: 100%;
  max-width: 2560px;
  margin: 0 auto;
  padding: 15px;
}
